*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.app-layout {
  max-width: 140rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}
