@import './mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-text-dark: #181717;
  --color-bg-light: #f2f6f8;
  --color-bg-main: #1a1a1a;
  --color-bg-dark: #181717;
  --color-text-light: #e6e6e6;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 9px;
  }

  @include respond(tab-port) {
    font-size: 8px;
  }
}

body {
  box-sizing: border-box;
}

.app-layout {
  /* Когда задают размеры блока почти во всех случаях используют пиксели или проценты. rem в основном используется для текста */
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
