@import './mixins';

.header {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: var(--color-bg-light);
    padding: 0.5rem 0.3rem;
  }
}

.header-actions {
  display: flex;
  align-items: center;
}

.logo {
  /*БЭМ блоку нельзя задавать внешнюю геометрию, отступы, способ позиционирования и тп.
  Суть блока в том, что если его скопипастить в любое другое место, он встанет и не сломает вёрстку.
  В данном  же случае, если его вставить куда-нибудь он будет  всегда фиксированного размера, а следовательно если контейнер будет меньшего размера,  вёрстка сломается.
  Вместо этого, надо создать БЭМ элемент в том месте где у тебя этот класс находится размеры.
   Это относится не только к этому коду,а еще и к другим местам, с аналогичной проблемой*/
  width: 15rem;
  height: 4rem;

  @include respond(tab-port) {
    width: 12rem;
    padding: 0.5rem;
  }
}

.top-navigation {
  &__list {
    display: flex;
    padding-left: 3rem;
    gap: 3rem;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.header-actions {
  @include respond(tab-port) {
    display: none;
  }

  &__theme-toggle {
    margin-left: auto;
  }
}

.search-container {
  padding: 1rem;
  width: 12rem;
}

.navigation-history {
  &__item {
    @include respond(phone) {
      padding-left: 1rem;
    }
  }
  &__list {
    display: flex;
    gap: 1rem;
  }
}

.language-button {
  display: flex;
  gap: 0.5rem;
}

.search-form {
  &__input {
    width: 8rem;
    border-radius: 3rem;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  }
}

.hamburger-menu {
  display: none;

  @include respond(tab-port) {
    display: block;
    padding-right: 1.5rem;
  }
}

.button-wrap {
  display: none;

  @include respond(phone) {
    display: inline;
  }
}
